.centered-image {
  width: min(500px, 30%); /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
  
  .centered-button {
    position: fixed;
    bottom: 20%; /* Move the element 50% down from the top */
    left: 50%; /* Move the element 50% from the left */
    transform: translate(-50%, 0); /* Center the element by moving it back 50% of its own width and height */
    width: 40vw;
    min-height: auto;
    height: auto; /* Maintain aspect ratio */
    background-color: pink;
    color: white;
    margin: 5vh auto 0;
    font-size: 5vw;
    border-radius: 10px;
    text-align: center;
    border: 2px solid white;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
  }
  .title-text {
    position: relative;
    /* bottom: 10px; */
    color: pink;
    -webkit-text-stroke: .1vw #fff;
    font-size: 5vw;
    text-indent: 10%;
    text-align: center;
    margin-top: 5vh auto 0;
    user-select: none;
    /* text-shadow:
        -2px -2px 0 pink,
        2px -2px 0 pink,
        -2px 2px 0 pink,
        2px 2px 0 pink,
        -4px -4px 0 white,
        4px -4px 0 white,
        -4px 4px 0 white,
        4px 4px 0 white; */
}
  .desc-textbox strong {
    color: pink;
    -webkit-text-stroke: .1vw #fff;
    font-size: 5.5vw;
    text-align: center;
    /* white-space: pre; */
    display: block;
    margin-top: 5vh auto 0;
    user-select: none;
  }

  .desc-textbox {
    position: fixed;
    bottom: 0%; /* Move the element 50% down from the top */
    left: 50%; /* Move the element 50% from the left */
    transform: translate(-50%, 0%); /* Center the element both horizontally and vertically */
    width: 100vw; /* Set a specific width for the section */
    height: 20%;
    padding: 20px; /* Add padding for spacing */
    background-color: transparent; /* Set a background color for the section */
    text-align: center; /* Adjust text alignment as needed (left, center, right) */
  }
  .smol-cheri {
    position: fixed;
    top: 30%;
    left: 59%;
    rotate: 15deg;
    width: min(200px, 12.5%);
    height: auto;
    opacity: 0.1;
  }

@media (orientation: portrait) {
  .centered-image {
    top: 50%;
    width: 50%; /* Adjust the width for portrait mode */
  }
  .desc-textbox strong {
    font-size: 4vh;
  }
  .title-text {
    font-size: 10vw;
  }
  .centered-button {
    width: 20vh;
    height: 10vh;
    bottom: 20%;
    font-size: max(3.5vw, 3.5vh);
  }

  .smol-cheri {
    left: 65%;
    top: 50%;
    width: 20%; /* Adjust the width for portrait mode */
  }

}